body {
	text-align:center;
	font-family: sans-serif;
	background: linear-gradient(to right, red, yellow);
	color: white;
}

.main {
	background: linear-gradient(to right, rgb(242, 13, 145), rgb(77, 54, 201));4
	font-family: sans-serif;
}

.title {
	font-size: 5em;
}

.title2{
	font-size: 2.5em
}

.article {
	font-size:1.5em;
}

.break {
	width:500px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size:1em;
}