body, html, h1 {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
header {
	width: 100%;
	height: 100vh;
	background-color: rgb(54, 51, 119);
	color: rgba(86, 85, 149);
}

.main-title {
	position: absolute;
	font-size: 5em;
	top:35%;
	left:20%;
}

.jobtitle {
	position: absolute;
	top: 45%;
	left: 20%;
	font-size: 2.5em;
	padding-left: 50px;
}

#about {
	background-color: rgb(10, 9, 59);
	height:85vh;
	color:rgb(129, 128, 178);
}

.sub-text {
	padding-top: 50px;
	width: 75%;
	margin:0 auto;
}

.me {
	padding-top: 50px;
	width: 300px;
	height:300px;
	float:left;
	padding-left: 200px;
}

#content, a {
	background-color: rgb(86,85,149);
	color: rgb(54, 51, 119);
}

.sub-title {
	text-align: center;
	font-size: 4em;
	padding-top: 50px;
}

#project {
	padding-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

a{
	text-decoration: none;
}

.pic, .content-link {
	height:300px;
	width:300px;
	margin: auto;
	transition: all .5s;
}

.pic:hover {
	color: white;
	transform: scale(1.1);
}

.main-image {
	width: 100%;
	height: 75%;
}

.image-text {
	text-align: center;
}

#contact, #social {
	background-color: rgb(129,128,178);
	color: rgb(10,9,59);
	width:50%;
	height: 50vh;
	float: left;
}

.icons {
	padding-top:50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.facebook {
	height: 50px;
	width:50px;
	background-color: darkblue;
}
.twitter {
	height: 50px;
	width:50px;
	background-color: lightblue;
}
.github {
	height: 50px;
	width:50px;
	background-color: darkgrey;
}
.stack {
	height: 50px;
	width:50px;
	background-color: orange;
}

@media only screen and (max-width: 650px) {
	.main-title {
	position: absolute;
	font-size: 5em;
	top:25%;
	left:20%;
}

.jobtitle {
	position: absolute;
	top: 45%;
	left: 15%;
	font-size: 2.5em;
	padding-left: 50px;
}
}