body, html, h1, header {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.main-image {
	width:100%;
	height:100vh;
	padding: 0;
}


header {
	width: 100%;
	color: white;
}

.container {
    display: inline-block;
    cursor: pointer;
    float:right;
    padding: 40px 40px 0 0;
}
 
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.main-title {
	position: absolute;
	font-size: 5em;
	top:35%;
	left:20%;
}

.jobtitle {
	position: absolute;
	font-size: 2.5em;
	top: 55%;
	left: 20%;
}

.main-title, .jobtitle, .sub-title {
	font-family: Avantgarde, CenturyGothic, sans-serif;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	color: #d5d5d5;
	letter-spacing: .05em;
	text-shadow: 
		4px 4px 0px #2c2c2c,
		7px 7px 0px rgba(0, 0, 0, 0.2);
}

.main-title:hover, .jobtitle:hover {
	font-family: Avantgarde, CenturyGothic, sans-serif;
	text-transform: uppercase;
	text-rendering: optimizeLegibility;
	color: #2c2c2c;
	letter-spacing: .05em;
	text-shadow: 
		4px 4px 0px #d5d5d5,
		7px 7px 0px rgba(0, 0, 0, 0.2);
}


/*About me*/

#about {
	background-color: #C13394;
	color:white;
}

.sub-text {
	padding-top: 50px;
	width: 75%;
	margin:0 auto;
	font-size: 1.5em;
}

.me {
	padding-top: 50px;
	width: 300px;
	height:300px;
	float:left;
	padding-left: 200px;
}

#content, .content-link {
	background-color: #C13394;
	color: white;
}

.sub-title {
	text-align: center;
	font-size: 4em;
	padding-top: 50px;
}

.progress {
	width: 600px;
	margin: 0 auto;
}

.skills {
	width:600px;
	margin: 0 auto;
}

/*project section*/

#project {
	padding-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

a{
	text-decoration: none;
}

.pic, .content-link {
	height:300px;
	width:300px;
	margin: auto;
	transition: all .5s;
}

.pic:hover {
	color: white;
	transform: scale(1.1);
}

.main-image {
	width: 100%;
	height: 75%;
}

.image-text {
	text-align: center;
}

/*footer section*/

#social {
	background-color: #C13394;
}

.icons {
	width: 600px;
	margin: 0 auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* media section */
@media only screen and (max-width: 813px) {
.main-title {
	position: absolute;
	font-size: 5em;
	top:35%;
	left:10%;
}

.jobtitle {
	position: absolute;
	font-size: 2.5em;
	top: 55%;
	left: 10%;
}

.sub-title {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}

.sub-title2 {
	font-size:1.6em;
}

.sub-text {
	font-size: .9em;
}

.progress {
	width: 300px;
	margin: 0 auto;
}

.skills {
	width:300px;
	margin: 0 auto;
}

#contact, #social {
	background-color: rgb(129,128,178);
	color: white;
	height: 40vh;
	width: 100%;
}

#project {
	padding-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

a{
	text-decoration: none;
}

.pic, .content-link {
	height:300px;
	width:300px;
	margin: auto;
	transition: all .5s;
}

.pic:hover { 
	color: white;
	transform: scale(1.1);
}

.main-image {
	width: 100%;
	height: 75%;
}

.image-text {
	text-align: center;
}

}

@media only screen and (max-width: 723px) {
	.main-title {
	position: absolute;
	font-size: 4em;
	top:35%;
	left:10%;
}

.jobtitle {
	position: absolute;
	font-size: 1.5em;
	top: 55%;
	left: 10%;
}
}

@media only screen and (max-width: 633px) {
	.main-title {
	position: absolute;
	font-size: 2em;
	top:10%;
	left:5%;
}

.jobtitle {
	position: absolute;
	top: 20%;
	left: 5%;
	font-size: 1.5em;
}

.sub-title {
	text-align: center;
	font-size: 2em;
	padding-top: 30px;
}

.sub-title2 {
	font-size:1.6em;
}

.sub-text {
	font-size: .9em;
}

.progress {
	width: 300px;
	margin: 0 auto;
}

.skills {
	width:300px;
	margin: 0 auto;
}

#contact, #social {
	background-color: rgb(129,128,178);
	color: white;
	height: 40vh;
	width: 100%;
}

#project {
	padding-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

a{
	text-decoration: none;
}

.pic, .content-link {
	height:300px;
	width:300px;
	margin: auto;
	transition: all .5s;
}

.pic:hover { 
	color: white;
	transform: scale(1.1);
}

.main-image {
	width: 100%;
	height: 75%;
}

.image-text {
	text-align: center;
}

}